{% extends 'base.html.twig' %}

{% block title %} {{ controller_name }} {% endblock %}

{% block body %}
    <h1>{{ page_name }}</h1>
    
    <form method="get" action="{{ path('product') }}">
        <label for="order">Sort by Price:</label>
        <select name="order" id="order">
            <option value="asc" {% if order == 'asc' %}selected{% endif %}>Ascending</option>
            <option value="desc" {% if order == 'desc' %}selected{% endif %}>Descending</option>
        </select>
        {% if search_term is not empty %}
            <input type="hidden" name="name" value="{{ search_term }}">
        {% endif %}
        <button type="submit">Sort</button>
    </form>
    
    <form method="get" action="{{ path('product_search') }}">
        <div>
            <label for="name">Search by Name:</label>
            <input type="text" name="name" id="name" value="{{ search_term }}" placeholder="Search products by name...">
        </div>
        <div>
            <button type="submit">Search</button>
        </div>
    </form>

    <ul>
    {% for product in products %}
        <li>
            <a href="{{ path('product_item', {id: product.id}) }}">{{product.name}} ({{product.id}}) {{product.getFinalPrice()}}</a>
        </li>
    {% else %}
        <li>No products found.</li>
    {% endfor %}
    </ul>

{% endblock %} 
