{% extends 'base.html.twig' %}

{% block title %} {{ controller_name }} {% endblock %}

{% block body %}
<h2>Nom du produit: {{product.name}} <em>(id: {{product.id}})</em> </h2>
<h3>Catégorie: {{product.category.name}} </h3>
{% if product.onSale %}
<p>Ce produit est en promotion ! Prix: <b>{{product.getFinalPrice()}} €</b> au lieu de <s>{{product.price}}</s> € </p>
{% else %}
<p>Prix: <b>{{product.getFinalPrice()}} €</b> </p>
{% endif %}

<p>Stock: {{product.stock.quantity}} produits en stocks</p>

<p>Description du produit:<br> {{product.description}} </p>




{% endblock %}